# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

-	Languages Used by Data Scientists
-	Commonly Used Libraries for Data Scientists
-	Examples of Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas.
2. PyTorch.
3. Scikit-Learn.

| Data Science Tools |
| --- |
| Jupyter notebook |
| Spyder |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [8]:
x = (3*4)+5
print(x)

17

This will convert 200 minutes to hours by diving by 60

In [9]:
mins = 200
hrs = mins/60
print(hrs)

3.3333333333333335

## Author 
Serhat Saylam